{{ define "admin_media_grid" }}

<!-- prettier-ignore -->
<div 
  id="sortableGrid" 
  class="" 
  {{ if .Gallery }}data-gallery="{{ .Gallery.ID }}"{{ end }}
  {{ if .Project }}data-project="{{ .Project.ID }}"{{ end }}
>
  <div class="sortable grid grid-cols-3 gap-4 mt-4">
    {{ range .Media }}
    <div
      class="sortable-item border border-gray-300 p-2 rounded shadow-lg"
      data-id="{{ .ID }}"
    >
      <img src="{{ .ThumbnailURL }}" class="w-full h-40 object-cover rounded" />
      <p class="text-center text-sm mt-2 truncate">{{ .FileName }}</p>

      <form
        hx-put="/admin/media/unlink"
        hx-target="closest .sortable-item"
        hx-swap="outerHTML"
        hx-on:afterRequest="this.closest('.sortable-item').remove()"
        class="mt-2 text-center"
      >
        {{ if $.Gallery }}
        <input type="hidden" name="gallery_id" value="{{ $.Gallery.ID }}" />
        {{ end }} {{ if $.Project }}
        <input type="hidden" name="project_id" value="{{ $.Project.ID }}" />
        {{ end }}
        <input type="hidden" name="media_id" value="{{ .ID }}" />
        <button type="submit" class="text-red-500">Unlink</button>
      </form>
    </div>
    {{ end }}
  </div>

       <!-- Include Pagination -->
      {{ template "pagination" (dict "PaginationBaseURL" .PaginationBaseURL
      "Page" .Page "Limit" .Limit "MediaCount" .MediaCount "TotalPages"
      .TotalPages "HasNext" .HasNext "Target" "#sortableGrid" ) }}
</div>
{{ end }}
