{{ define "partials/media_item.html" }}

<div
  class="sortable-item border border-gray-300 p-2 rounded shadow-lg"
  data-id="{{ .ID }}"
  data-gallery="{{ .GalleryID }}"
>
  <img src="{{ .ThumbnailURL }}" class="w-full h-40 object-cover rounded" />
  <p class="text-center text-sm mt-2 truncate">{{ .FileName }}</p>
  <button
    hx-delete="/admin/media/{{ .ID }}"
    hx-confirm="Are you sure?"
    hx-target="closest div"
    hx-swap="outerHTML"
    class="text-red-500 block mx-auto mt-2"
  >
    Delete
  </button>
</div>
{{ end }}
