@import "tailwindcss";
@plugin "@tailwindcss/aspect-ratio";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@font-face {
  font-family: "Inconsolata";
  src: url("/static/fonts/inconsolata.woff2") format("woff2");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Inconsolata", sans-serif;
}
