{{define "base"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    <link href="../static/css/tailwind.css" rel="stylesheet" />
  </head>
  <body class="min-h-screen flex flex-col">
    <header>
      <div id="nav-container">{{ template "nav" .}}</div>
    </header>
    <main>{{template "main" .}}</main>
    <footer class="mt-auto">
      <div id="footer-container">{{ template "footer" .}}</div>
    </footer>
  </body>
</html>
{{end}}
