{{define "meta"}}
<title>{{ index .Settings "site_title" }} | {{ .Title}}</title>
<meta name="description" content="{{ .Description }}" />
{{ if .CanonicalURL }}
<link rel="canonical" href="{{ .CanonicalURL }}" />
{{ end }}

<!-- Open Graph -->
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ .Description }}" />
{{ if .OGImage }}
<meta property="og:image" content="{{ .OGImage }}" />
{{ end }}
<meta property="og:url" content="{{ .CanonicalURL }}" />
<meta property="og:type" content="website" />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ .Description }}" />
{{ if .OGImage }}
<meta name="twitter:image" content="{{ .OGImage }}" />
{{ end }}
<!-- End OGImage If-->
{{end}}
<!-- End Meta-->

<!-- Title -->
{{ define "content" }}
<section class="py-24 relative">
  <div class="w-full max-w-7xl px-4 md:px-5 lg:px-5 mx-auto">
    <div class="w-full flex-col justify-center items-start lg:gap-12 gap-10 inline-flex">
      <div class="flex-col justify-center items-start lg:gap-12 gap-10 inline-flex w-full">

        <img src='{{ index .Settings " about_me_image" }}' alt="About Me Image" />

        <div class="w-full justify-start items-end xl:gap-12 gap-10 grid grid-cols-1">
          <div class="w-full flex-col justify-center items-start gap-5 inline-flex">
            <div class="justify-center items-start lg:gap-12 gap-10 inline-flex w-full lg:flex-row-reverse flex-col">
              <h2 class="text-black text-4xl font-bold font-manrope leading-normal">
                Photographer / Creative
              </h2>
            </div>
            <div class="flex-col justify-center items-start gap-4 flex">
              <p class="text-gray-700 text-lg mb-6 whitespace-pre-line">
                {{ index .Settings "about_description"}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
