{{ define "base_admin" }}
<!doctype html>
<html lang="en" class="h-full bg-white">
  <head>
    <meta charset="UTF-8" />
    <title>Application Shell with Off-Canvas Sidebar</title>
    <!--Sortable-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.2/Sortable.min.js"></script>
    <!--HTMX-->
    <!-- Tailwind CSS (replace with your own build if needed) -->
    <link rel="stylesheet" href="/static/css/tailwind.css" />
  </head>

  <body class="h-full">
    {{ template "admin_sidebar" . }}
    <!-- MAIN CONTENT -->
    <main class="py-10 lg:pl-72">
      <div class="px-4 sm:px-6 lg:px-8">
        <!-- Your content goes here -->
        {{ template "content" . }}
      </div>
    </main>
    <!-- MODAL -->

    <!-- Modal wrapper -->
    <div id="modal" class="fixed inset-0 z-50 bg-black/50 hidden">
      <div
        id="modal-content"
        class="bg-white max-w-3xl mx-auto mt-24 p-6 rounded shadow"
      ></div>
    </div>
    <script src="/static/js/htmx.min.js" defer></script>
    <!-- JavaScript for open/close sidebar -->
    <script src="/static/js/main.js"></script>

    <!--<script>-->
    <!--  function closeModal() {-->
    <!--    document.getElementById("modal").classList.add("hidden");-->
    <!--    document.getElementById("modal-content").innerHTML = "";-->
    <!--  }-->
    <!---->
    <!--  document.body.addEventListener("htmx:afterRequest", function (evt) {-->
    <!--    const form = evt.target.closest("form");-->
    <!--    if (form?.getAttribute("hx-post") === "/admin/media/upload") {-->
    <!--      closeModal();-->
    <!--    }-->
    <!--  });-->
    <!---->
    <!--  document.addEventListener("htmx:afterOnLoad", function (evt) {-->
    <!--    const trigger = evt.detail.xhr.getResponseHeader(-->
    <!--      "HX-Trigger-After-Settle",-->
    <!--    );-->
    <!--    if (trigger === "show-toast") {-->
    <!--      fetch(-->
    <!--        "/admin/toast?variant=success&heading=Media%20Linked&subtitle=Successfully%20attached%20to%20gallery",-->
    <!--      )-->
    <!--        .then((res) => res.text())-->
    <!--        .then((html) =>-->
    <!--          document.body.insertAdjacentHTML("beforeend", html),-->
    <!--        );-->
    <!--    }-->
    <!---->
    <!--    if (trigger === "show-toast-unlinked") {-->
    <!--      fetch(-->
    <!--        "/admin/toast?variant=warning&heading=Media%20Unlinked&subtitle=The%20media%20was%20removed%20from%20this%20item",-->
    <!--      )-->
    <!--        .then((res) => res.text())-->
    <!--        .then((html) =>-->
    <!--          document.body.insertAdjacentHTML("beforeend", html),-->
    <!--        );-->
    <!--    }-->
    <!--  });-->
    <!--</script>-->
  </body>
</html>
{{ end }}
