<!doctype html>
<html lang="en" class="h-full bg-white min-h-svh">
  <head>
    <title>{{ .Title }}</title>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <link rel="stylesheet" href="/static/css/tailwind.css" />
  </head>
  <body class="h-full">
    <div>
      {{ template "admin_sidebar" . }}
      <main class="py-10 lg:pl-72">
        <div class="px-4 sm:px-6 lg:px-8">
          <!-- Your content -->
          <div id="content">{{ template "content" . }}</div>
        </div>
      </main>
    </div>
  </body>
</html>
