{{ define "base" }}
<!doctype html>
<html lang="en" class="h-full bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ block "meta" . }}{{ end }}
    <!-- Tailwind CSS  -->
    <link rel="stylesheet" href="/static/css/tailwind.css" />
  </head>

  <body class="h-full">
    <!-- MOBILE OFF-CANVAS SIDEBAR -->
    {{ if not .HideSidebar }} {{ template "navbar" . }} {{ end }}
    <!-- MAIN CONTENT -->
    <main class=" {{if not .HideSidebar }}  lg:pl-72 {{ end }} ">
      <!-- Your content goes here -->
      {{ template "content" . }}
    </main>
    <!-- JavaScript for  Gallery Lightbox -->
    <script src="/static/js/gallery.js" defer></script>
    <script src="/static/js/htmx.min.js" defer></script>
    <!-- JavaScript for open/close sidebar -->
    <script src="/static/js/main.js"></script>
  </body>
</html>
{{ end }}
