{{define "meta"}}
<title>{{ index .Settings "site_title" }} | {{ .Title}}</title>
<meta name="description" content="{{ .Description }}" />
{{ if .CanonicalURL }}<link rel="canonical" href="{{ .CanonicalURL }}" />
{{ end }}

<!-- Open Graph -->
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ .Description }}" />
{{ if .OGImage }}
<meta property="og:image" content="{{ .OGImage }}" />
{{ end }}
<meta property="og:url" content="{{ .CanonicalURL }}" />
<meta property="og:type" content="website" />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ .Description }}" />
{{ if .OGImage }}
<meta name="twitter:image" content="{{ .OGImage }}" />
{{ end }}
<!-- End OGImage If-->
{{end}}
<!-- End Meta-->

<!-- Title -->
{{ define "content" }}
<!-- Must include HTMX somewhere before form is used -->
<script src="https://unpkg.com/htmx.org@1.9.6"></script>

<!-- Load reCAPTCHA v3 script with your site key -->
<script src="https://www.google.com/recaptcha/api.js?render=6Ldh3fEqAAAAAJgLcZAj854loLXuZePJ4yt4ai9x"></script>

<div class="max-w-3xl  mx-auto lg:mx-0 px-6 py-16 sm:px-8 lg:px-12 flex flex-col">
  <h2 class="text-3xl font-extrabold text-gray-900">Contact</h2>

  <div class="mt-8 w-full flex flex-col items-center">
    <div class="w-full bg-white ">
      <!-- 
         1) No action/method; we rely on HTMX.
         2) hx-post => where to send data
         3) hx-trigger="verified" => custom event that triggers HTMX submission
      -->
      <form
        id="contact-form"
        hx-post="/contact"
        hx-target="body"
        hx-swap="afterbegin"
        hx-trigger="verified"
        hx-on:afterSwap="console.log('Swapped')"
      >
        <fieldset>
          <legend class="block text-left text-sm font-medium text-gray-700">
            Name
            <span class="text-red-700 font-light text-xs">* Required</span>

          </legend>

        <div class="grid grid-cols-12 gap-x-2  items-end">
            <div class="col-span-6">
            <label class="block text-left text-sm font-light text-gray-700">
                First Name
            </label>
            <input
              type="text"
              name="first_name"
              class="mt-2 block w-full px-4 py-2 border border-gray-300  focus:ring-gray-900 focus:border-gray-900 text-gray-900 text-lg"
              required
            />
          </div>
          <div class="col-span-6">
            <label class="block text-left text-xs font-light text-gray-500"
              >Last Name</label
            >
            <input
              type="text"
              name="last_name"
              class="mt-2 block w-full px-4 py-2 border border-gray-300  focus:ring-gray-900 focus:border-gray-900 text-gray-900 text-lg"
              required
            />
          </div>
        </div>
        <div>
        </fieldset>

        <div class="my-4">
          <label class="block text-left text-sm font-medium text-gray-700">
            Email
            <span class="text-red-700 font-light text-xs">* Required</span>
          </label
          >
          <input
            type="email"
            name="email"
            class="mt-2 block w-full px-4 py-2 border border-gray-300  focus:ring-gray-900 focus:border-gray-900 text-gray-900 text-lg"
            required
          />
        </div>
        <div class="my-4">
          <label class="block text-left text-sm font-medium text-gray-700">
            Subject
            <span class="text-red-700 font-light text-xs">* Required</span>
          </label>
          <input
            type="text"
            name="subject"
            class="mt-2 block w-full px-4 py-2 border border-gray-300  focus:ring-gray-900 focus:border-gray-900 text-gray-900 text-lg"
            required
          />
        </div>
        <div class="my-4">
          <label class="block text-left text-sm font-medium text-gray-700">
            Message
            <span class="text-red-700 font-light text-xs">* Required</span>
          </label>
          <textarea
            name="message"
            rows="5"
            class="mt-2 block w-full px-4 py-2 border border-gray-300  focus:ring-gray-900 focus:border-gray-900 text-gray-900 text-lg"
            required
          ></textarea>
        </div>
        <!-- 
          Hidden field where we store the v3 token.
          On the server, read it via r.FormValue("g-recaptcha-response"). 
        -->
        <input
          type="hidden"
          name="g-recaptcha-response"
          id="g-recaptcha-response"
        />

        <!-- 
          Type=\"button\" so it doesn't do a normal submit. 
          We'll call grecaptcha.execute() -> dispatch the \"verified\" event => triggers HTMX 
        -->
        <button
          type="button"
          onclick="runRecaptcha()"
          class="bg-black px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-gray-800 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black cursor-pointer"
        >
          Send Message
        </button>
      </form>
    </div>
  </div>
</div>

<script>
  function runRecaptcha() {
    grecaptcha.ready(function () {
      grecaptcha
        .execute("6Ldh3fEqAAAAAJgLcZAj854loLXuZePJ4yt4ai9x", {
          action: "submit",
        })
        .then(function (token) {
          if (!token) {
            alert("Failed to verify reCAPTCHA.");
            return;
          }

          document.getElementById("g-recaptcha-response").value = token;
          const event = new Event("verified");
          document.getElementById("contact-form").dispatchEvent(event);
        });
    });
  }
</script>

{{ end }}

<!-- -->
{{define "contact_success"}}
<!-- -->
{{ template "partials/alert_toast.html" . }}
<!---->
{{end}}
