{{ define "title" }}Projects{{ end }}
<!-- title -->
{{ define "content" }}
<div class="px-4 sm:px-6 lg:px-8 py-10">
  <h1 class="text-3xl font-bold mb-6">Projects</h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    {{ range .Projects }}
    <a
      href="/project/{{ .ID }}"
      class="group relative block overflow-hidden shadow hover:shadow-lg"
    >
      {{ if .CoverImageURL }}
      <img
        src="{{ index .CoverImageURL }}"
        alt="{{ .Title }}"
        class="w-full h-64 object-cover transition-transform duration-300 group-hover:scale-105"
      />
      {{ else }}
      <div
        class="w-full h-64 bg-gray-200 flex items-center justify-center text-gray-500"
      >
        No Cover
      </div>
      {{ end }}

      <div
        class="absolute inset-0 bg-black/30 opacity-0 group-hover:opacity-100 transition-opacity flex items-center justify-center"
      >
        <span class="text-white text-lg font-semibold">{{ .Title }}</span>
      </div>
    </a>
    {{ end }}
  </div>
</div>

{{ end }}
