{{define "meta"}}
<title>{{ index .Settings "site_title" }} | {{ .Title}}</title>
<meta name="description" content="{{ .Description }}" />
{{ if .CanonicalURL }}<link rel="canonical" href="{{ .CanonicalURL }}" />
{{ end }}

<!-- Open Graph -->
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ .Description }}" />
{{ if .OGImage }}
<meta property="og:image" content="{{ .OGImage }}" />
{{ end }}
<meta property="og:url" content="{{ .CanonicalURL }}" />
<meta property="og:type" content="website" />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ .Description }}" />
{{ if .OGImage }}
<meta name="twitter:image" content="{{ .OGImage }}" />
{{ end }}
<!-- End OGImage If-->
{{end}}
<!-- End Meta-->

<!---->
{{ define "content" }}
<div class="max-w-4xl">
  <!-- Hero Media Section -->
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-2 mb-8">
    {{ range .HeroMedia }}
    <img
      src="{{ .ThumbnailURL }}"
      data-full="{{ .FullURL }}"
      alt="{{ .FileName }}"
      class="first:col-span-1 first:lg:col-span-3 first:lg:order-last first:lg:h-[32rem] first:pt-8 shadow object-cover w-full aspect-square cursor-pointer"
      loading="lazy"
    />
    {{ end }}
  </div>

  <h1 class="text-4xl font-bold mb-4">{{ .Project.Title }}</h1>

  {{ if .Project.Description }}
  <p class="mb-8 text-gray-700">{{ .Project.Description }}</p>
  {{ end }}

  <!-- Project Template -->

  {{ if .Media }} {{ template "media_grid" (dict "Media" .Media "ID"
  "project-gallery") }} {{ else }}
  <p>No media available</p>
  {{ end }}

  <!-- 🔥 Lightbox Modal (reuse from gallery_component.html) -->
  <div
    id="lightboxModal"
    class="fixed inset-0 flex items-center justify-center bg-black/80 hidden z-50"
  >
    <button
      id="lightboxClose"
      class="absolute top-4 right-8 text-white text-3xl font-bold px-2 cursor-pointer"
    >
      &times;
    </button>
    <button
      id="lightboxPrev"
      class="absolute left-4 text-white text-3xl font-bold px-2 cursor-pointer"
    >
      &#10094;
    </button>
    <button
      id="lightboxNext"
      class="absolute right-4 text-white text-3xl font-bold px-2 cursor-pointer"
    >
      &#10095;
    </button>
    <img
      id="lightboxImg"
      alt="Lightbox Image"
      class="max-h-[80vh] max-w-[90vw] mx-auto"
    />
  </div>
</div>
{{ end }}
