{{define "nav"}}

<nav class="bg-gray-900 shadow">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button -->
        <button
          type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg
            class="block size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
          <svg
            class="hidden size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex shrink-0 items-center text-white">
          <div>IKM</div>
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-100 hover:border-gray-300 hover:text-gray-300" -->
          <a
            href="/"
            class='{{if eq .CurrentPath "/"}}active{{end}} inline-flex items-center border-b-2 border-transparent text-gray-100 hover:border-gray-300 hover:text-gray-300'
            >Home</a
          >
          <a
            href="/about"
            class='{{if eq .CurrentPath "/about"}}active{{end}} inline-flex items-center border-b-2 border-transparent text-gray-100 hover:border-gray-300 hover:text-gray-300'
            >About</a
          >
          <a
            href="/galleries"
            class='{{if eq .CurrentPath "/galleries"}}active{{end}} inline-flex items-center border-b-2 border-transparent text-gray-100 hover:border-gray-300 hover:text-gray-300'
            >Galleries</a
          >
          <a
            href="/contact"
            class='{{if eq .CurrentPath "/contact"}}active{{end}} inline-flex items-center border-b-2 border-transparent text-gray-100 hover:border-gray-300 hover:text-gray-300'
            >Contact</a
          >
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        {{ if .IsAuthenticated }}
        <!--prettier-ignore-->
        {{if .User}} Welcome, {{.User.FirstName}}
        {{.User.LastName}}! {{else}} Welcome, Guest! {{end}}
        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <div>
            <button
              type="button"
              class="relative flex rounded-full bg-white text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
              id="user-menu-button"
              aria-expanded="false"
              aria-haspopup="true"
            >
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <div id="avatar-container" />
            </button>
          </div>
          <div
            class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black/5 focus:outline-none hidden"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu-button"
            tabindex="-1"
            id="user-menu-dropdown"
          >
            <a
              href="/admin/dashboard"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
              role="menuitem"
              tabindex="-1"
              id="user-menu-item-1"
              >Dashboard</a
            >
            <a
              hx-post="/user/logout"
              hx-target="main"
              hx-swap="innerHTML"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
              role="menuitem"
              id="sign-out"
            >
              Sign out
            </a>
          </div>
        </div>
        {{ else }}
        <a
          href="/login"
          class="inline-flex items-center border-b-2 border-transparent text-gray-100 hover:border-gray-300 hover:text-gray-300"
          >Login</a
        >
        {{ end }}
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden hidden" id="mobile-menu">
    <div class="space-y-1 pb-4 pt-2">
      <a
        href="#"
        class="block border-l-4 border-indigo-500 bg-indigo-50 py-2 pl-3 pr-4 text-base font-medium text-indigo-700"
        >Dashboard</a
      >
      <a
        href="#"
        class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-100 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-300"
        >Team</a
      >
      <a
        href="#"
        class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-100 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-300"
        >Projects</a
      >
      <a
        href="#"
        class="block border-l-4 border-transparent py-2 pl-3 pr-4 text-base font-medium text-gray-100 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-300"
        >Calendar</a
      >
    </div>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const userMenuButton = document.getElementById("user-menu-button");
    const userMenu = document.getElementById("user-menu-dropdown");
    const avatarContainer = document.getElementById("avatar-container");

    const firstName = "{{ if .User }}{{ .User.FirstName }}{{ else }}{{ end }}";
    const lastName = "{{ if .User }}{{ .User.LastName }}{{ else }}{{ end }}";

    // Check if avatarContainer exists and populate the avatar
    if (avatarContainer && firstName && lastName) {
      const avatar = createAvatar(firstName, lastName);
      avatarContainer.appendChild(avatar);
    }

    // Check if user menu elements exist before adding event listeners
    if (userMenuButton && userMenu) {
      // Toggle user menu dropdown
      userMenuButton.addEventListener("click", function (event) {
        event.stopPropagation();
        const isExpanded =
          userMenuButton.getAttribute("aria-expanded") === "true";
        userMenuButton.setAttribute("aria-expanded", !isExpanded);
        userMenu.classList.toggle("hidden");
      });

      // Close user menu when clicking outside
      document.addEventListener("click", function (event) {
        if (
          !userMenu.contains(event.target) &&
          !userMenuButton.contains(event.target)
        ) {
          if (!userMenu.classList.contains("hidden")) {
            userMenuButton.setAttribute("aria-expanded", false);
            userMenu.classList.add("hidden");
          }
        }
      });
    } else {
      console.log("User menu elements not found. Skipping menu functionality.");
    }
  });

  function createAvatar(firstName, lastName) {
    const initials = `${firstName[0].toUpperCase()}${lastName[0].toUpperCase()}`;
    const colors = ["#FF5733", "#33FF57", "#3357FF", "#F3FF33", "#FF33A8"];
    const backgroundColor = colors[Math.floor(Math.random() * colors.length)];

    const avatar = document.createElement("div");
    avatar.style.width = "32px";
    avatar.style.height = "32px";
    avatar.style.borderRadius = "50%";
    avatar.style.display = "flex";
    avatar.style.alignItems = "center";
    avatar.style.justifyContent = "center";
    avatar.style.backgroundColor = backgroundColor;
    avatar.style.color = "#fff";
    avatar.style.fontSize = "16px";
    avatar.style.fontWeight = "bold";
    avatar.style.textTransform = "uppercase";
    avatar.textContent = initials;

    return avatar;
  }
</script>
{{end}}
